.chatRoomPage {
  width: 100%;
  height: 100dvh;
  //   background: #474540;
  background: url(../../assets/default_wallpaper.jpg);
  background-repeat: none;
  background-position: 20% 0%;
  background-size: cover;
  color: rgb(237, 237, 237);

  .header {
    width: 100%;
    height: 3rem;
    background: #343434d0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .participantDp {
      //   border: 2px solid red;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin: 0 0.5rem 0 0.7rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .texts {
      //   border: 2px solid yellowgreen;
      color: rgb(221, 221, 221);
      height: 100%;
      width: 45%;
      margin-right: 0.3rem;

      .participantName {
        padding: 0.2rem 0;
        font-size: 0.9rem;
        color: whitesmoke;
      }

      .status {
        font-size: 0.8rem;
      }
    }

    .userAction {
      // border: 2px solid rebeccapurple;
      height: 100%;
      display: flex;
      align-items: center;
      width: 25%;
      justify-content: space-between;
    }

    .icon {
      width: 1.25rem;
      height: 1.25rem;
      cursor: pointer;
    }
  }

  .fullMessage {
    // border: 2px solid red;
    width: 100%;
    height: calc(100% - 6.2rem);
    padding: 0 0.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    .participantMsg {
      // border: 2px solid pink;
      background: rgb(50, 71, 176);
      width: fit-content;
      max-width: 80%;
      word-wrap: break-word;
      padding: 0.45rem;
      border-radius: 0.7rem;
      border-top-left-radius: 0;

      .message {
        text-align: left;
        font-size: 1rem;
      }
      .timeline {
        text-align: right;
        font-size: 0.8rem;
        color: rgb(201, 198, 198);
      }
    }
    .yourMsg {
      background: rgb(220, 19, 167);
      align-self: flex-end;
      width: fit-content;
      word-wrap: break-word;
      padding: 0.3rem;
      border-radius: 0.7rem;
      border-bottom-right-radius: 0;
      .message {
        text-align: right;
        font-size: 1rem;
      }
      .timeline {
        text-align: right;
        font-size: 0.8rem;
        color: rgb(201, 198, 198);
      }
    }
  }

  form {
    width: 100%;
    height: 3rem;
    padding: 0 0.2rem 0 0.3rem;
    overflow: hidden;
    background: #ffffff0c;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .inputBox {
      // border: 1.5px solid rgb(6, 235, 75);
      height: 100%;
      width: 85%;
      border-radius: 5rem;
      display: flex;
      align-items: center;
      padding-left: 0.35rem;
      gap: 0.3rem;
      background: #ffffff25;

      .icon {
        opacity: 0.7;
      }
      input {
        width: 88.3%;
        height: 100%;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1rem;
        color: whitesmoke;

        &::placeholder {
          color: aliceblue;
        }
      }
    }

    button {
      border: none;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: rgb(57, 191, 57);

      .icon {
        width: 1.2rem;
        height: 1.2rem;
        color: rgb(46, 53, 44);
      }

      &:active {
        transform: scale(0.94);
      }
    }
  }
}
