.videoOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: #0f0f0f;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .remoteVideoContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .remoteVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      color: white;

      .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 4px solid #25d366;
        animation: pulse 2s infinite;
      }

      .statusText {
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  .localVideoContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    // width: 120px;
    // height: 160px;
    width: 90px;
    height: 120px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.2);

    .localVideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .videoOffOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #222;
      color: #777;
      font-size: 0.8rem;
    }
  }

  .controls {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 30px;
    border-radius: 50px;
    backdrop-filter: blur(5px);

    .btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white;
      background: rgba(255, 255, 255, 0.3);
      transition: all 0.2s ease;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
        transform: scale(1.1);
      }

      &.accept {
        background: #25d366;
        &:hover {
          background: #d63229;
        }
      }

      &.reject {
        background: #ff3b30;
        &:hover {
            background: #d63229;
        }
      }

      &.off {
        background: white;
        color: black;
      }
    }
  }
}

@keyframes pluse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(37, 211, 102, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}
