.loginPage {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .upper {
    // border: 2px solid red;
    background: rgb(1, 152, 1);
    color: whitesmoke;
    font-size: 1.2rem;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  form {
    background: white;
    margin-top: -12%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.601));
    border-radius: 1rem;
    height: auto;
    padding: 2.5rem 1rem 2rem 1rem;

    .inputBox {
      border: 2px solid rgb(156, 156, 156);
      width: 100%;
      height: 3rem;
      margin-bottom: 0.9rem;
      border-radius: 2.5rem;
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      overflow: hidden;
      gap: 0.4rem;

      .icon {
        color: gray;
        font-size: 1.5rem;
        opacity: 0.85;
      }

      input {
        width: calc(100% - 1.5rem);
        height: 100%;
        border: none;
        outline: none;
        font-size: 1.2rem;
      }
    }

    button {
        margin-top: 0.5rem;
        width: 90%;
        height: 2.5rem;
        border-radius: 2.5rem;
        border: none;
        background: green;
        color: rgb(206, 249, 208);
        font-size: 1.1rem;
        filter: drop-shadow(0px 2px 4px rgba(10, 255, 10, 0.579));

        &:active {
            transform: scale(0.90);
        }
    }

    .redirect {
      margin-top: 1.5rem;

      p {
        font-size: 0.9rem;
        color: gray;

        a {
          text-decoration: none;
          color: green;
          font-weight: 700;
          margin-left: 5px;
          transition: all 0.2s ease;

          &:hover {
            text-decoration: underline;
            color: rgb(1, 152, 1);
          }
        }
      }
    }
  }
}
