.dropDownMenu {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    background: #2a2a2a;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 100;
    min-width: 150px;
    animation: fadeIn 0.2s ease-out;


    .menuItem {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        padding: 0.6rem 1rem;
        color: rb(237, 237, 237);
        cursor: pointer;
        border-radius: 4px;
        transition: background 0.2s ease;
        font-size: 0.95rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}